body {
    font-family: Arial, sans-serif;
    margin: 70px;
    padding: 26px;
    background-color: #000000;
  }

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #373131;
}

.card {
    background-color: #030303;
    border-radius: 80px;
    box-shadow: 0 2px 4px rgba(164, 161, 161, 0.1);
    margin: 20px;
    padding: 24px;
    width: 300px;
    text-align: center;
    background-color: rgb(255, 0, 0);
    
}

.card h2 {
    margin-top: 0;
    color: white;
  }

.card p {
    color: #ffffff;
    padding-bottom: 6px;
  }

#title{
  color: white;
}