.about_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('backgroundimage.jpg');
    background-size: cover;
    background-position: center;
}

.about_details {
    text-align: center;
    color: rgb(255, 255, 255); /* Default text color */
    padding: 20px;
    max-width: 600px;
}

.about_details h1 {
    font-size: 3.5rem;
    margin-bottom: 14px;
    color:rgb(179, 255, 0)
}

.about_details p {
    font-size: 35px;
    line-height: 1.2;
    margin: 40px;
}

#autotype-text {
    margin-left: -200px;
    margin-right: -200px;
}

